{% extends "dashboard/base.html" %}

{% block content %}

<div class="container">

    <ul class="nav d-flex justify-content-between align-items-center">
        <li class="nav-item">
            <h1 class="display-4 my-4">Change version for: {{ device.name }}</h1>
        </li>
    </ul>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif%}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
    <form action="{% url 'dashboard:change_version' device.pk %}" method="post">

        <div class="form-group form-row align-items-center">
        {% csrf_token %}
        
        <div class="col-auto">
            <label>Select new version</label>
        </div>

        <div class="col-auto">
            <select class="custom-select" name="new_version">
                {% for version in versions %}
                    <option value="{{version}}">{{ version }}</option>
                {% endfor %}
            </select>
        </div>

        </div>
        
        <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Change version">
        </div>

    </form>
    </div>

{% endblock %}

