{% extends "dashboard/base.html" %}

{% block content %}

<div class="container">
    <ul class="nav d-flex justify-content-between align-items-center my-4">
        <li class="nav-item">
            <h1 class="display-4">Devices</h1>
        </li>
        <li class="nav-item">
            <ul class="nav">
                <li class="nav-item mr-1">
                    <a class="btn btn-primary" href="{% url 'dashboard:add' %}" role="button">Add new device</a>
                </li>
            </ul>
        </li>
    </ul>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif%}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">IP</th>
            <th scope="col">Last check</th>
            <th scope="col">Last status</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody>
        {% for device in devices %}
        <tr>
            <th scope="row">
                <a href="{% url 'dashboard:detail' device.id %}">{{ device.name }}
            </th>
            <td>{{ device.ip }}</td>
            <td>{{ device.get_last_check}}</td>
            <td>{{ device.get_last_status }}</td>
            <td>{{ device.get_image_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}
