<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature</title>
</head>
<style>
html, body {
    height: 100%;
    font-family: sans-serif;
}
body {
    margin: 0;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    width: auto;
}
.flex-item {
    text-align: center;
}

h1 {
    font-weight: 400;
    font-size: 20em;
}
</style>
<body>
    <div class="flex-container">
        <div class="row"> 
            <div class="flex-item">
                <h1>{{ temperature }}K</h1>
            </div>
        </div>
    </div>
</body>
</html>